
body {
  background: linear-gradient(180deg, #121212 0%, #222 100%);
  min-height: 100vh;
  font-family: 'Gotham Pro', SansSerif, Arial, serif;
  overflow-x:  hidden;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: .3s ease;

  &:hover {

  }
}

h2 {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-family: "Gotham Pro";
  font-size: 55px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}